.charts{
  overflow: auto;
}

.chart-row{
  display: flex;
}

.chart-row-head{
  float: left;
  width: 5em;
}

.chart-column{
  position: absolute;
}

.chart-ticks{
  margin-left: 5em;
  height: 3em;
}

.chart-tick{
  border-left: solid 0.1em lightgrey;
  position: absolute;
}
