
body{
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar{
  margin-bottom: 20px;
  border-radius: 0;
}

.show-modal{
    display: block;
}

/* best scroll experience*/
.modal-body{
  max-height: 600px;
  overflow: auto;
  overflow-x: hidden;
}

/* no background scroll */
body.modal-open {
    overflow: hidden;
}

/* row elements inside modal body */
.modal-body .row{
  margin: 0;
}

.modal-content{
  border-radius: 0;
}

.input-color{
  height: 2.5em;
  width: 3em;
}
